/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}

/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}

.body-width {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #93532f;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

li:hover a:hover {
  color: #b1663c;
}

#logout {
  display: none;
}

nav img {
  width: 18px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  position: relative;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.categories-btn {
  background-color: #fffef8;
  border: 2px solid #1d6154;
  color: #1d6154;
  border-radius: 60px;
  padding: 0.35rem 0.7rem;
  text-align: center;
  font-weight: 700;
  font-family: "Syne";
  cursor: pointer;
}

.categories-btn:hover {
  background-color: #1d6154;
  color: white;
}

.categories-btn-active {
  background-color: #1d6154;
  color: #fffef8;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#contact p {
  display: flex;
  justify-content: center;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 5rem;
  background-color: white;
}

/* Login page css */

#login {
  width: 50%;
  margin: auto;
}
#login h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
  margin: 2em 0 1em 0;
}

#login-page header {
  padding-bottom: 5rem;
}

.mdp-forgotten-btn {
  border: none;
  background: none;
  font-family: "work Sans";
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

#login-page section {
  padding-bottom: 17.2rem;
}

.log-error {
  display: none;
  color: red;
  font-weight: 600;
  padding-top: 10px;
}

.log-error-mdp {
  display: none;
  color: red;
  font-weight: 600;
  padding-top: 10px;
}

/* After login home page */

.header-bar {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 3rem;
}

.header-bar button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  padding-right: 0.8rem;
  cursor: pointer;
}

.edit-icon {
  color: white;
  padding-right: 0.8rem;
}

#portfolio .edit-icon {
  color: black;
}

#portfolio .edit-btn {
  display: none;
  position: absolute;
  left: 62%;
  top: 0.3rem;
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

/* Modals */

.body-shadow {
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.519);
  opacity: 0.9;
}

.edit-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 20rem);
  align-items: center;
  border-radius: 10px;
  width: 40rem;
  height: auto;
  top: -2rem;
  background-color: white;
  padding-bottom: 3rem;
}

.close-modal {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  background-color: white;
  border: none;
  right: 20px;
  top: 20px;
  font-weight: 500;
}

.edit-modal-upper-text {
  font-size: 26px;
  line-height: 30.5px;
  font-weight: 400;
  font-style: "Work-Sans";
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.modal-figures {
  position: relative;
}

.works-box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 28rem;
}

.works-box-img {
  width: 5rem;
  padding-bottom: 1rem;
}

.delete-box {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 2.5px;
  background-color: black;
  height: 18px;
  width: 22px;
}

.delete-icon {
  font-size: 11px;
  color: white;
}

.add-work-btn {
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #1d6154;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: "Syne";
  border-radius: 90px;
  border: none;
  width: 16rem;
  height: 2.5rem;
  margin-top: 4rem;
}

.add-work-btn::after {
  cursor: default;
  content: "";
  position: absolute;
  width: 28.2rem;
  top: -2rem;
  right: -38%;
  height: 1.5px;
  background-color: #b3b3b3;
}

.save-work-btn {
  display: none;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #a7a7a7;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: "Syne";
  border-radius: 90px;
  border: none;
  width: 16rem;
  height: 2.5rem;
  margin-top: 4rem;
}

.save-work-btn::after {
  cursor: default;
  content: "";
  position: absolute;
  width: 28.2rem;
  top: -2rem;
  right: -38%;
  height: 1.5px;
  background-color: #b3b3b3;
}

/* Add works Modals */

.goBackBtn {
  position: absolute;
  left: 1.8rem;
  top: 1.8rem;
  display: flex;
  cursor: pointer;
  color: #000000;
  font-size: 20px;
}

.add-photo-div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 28.2rem;
  background-color: #e8f1f6;
}

.add-photo-div i {
  font-size: 5rem;
  color: #b9c5cc;
}
.add-photo-div input {
  border: none;
  background-color: #cbd6dc;
  color: #306685;
  height: 2rem;
}

.add-work-form {
  display: none;
  flex-direction: column;
  width: 28.2rem;
}

.add-work-form input {
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.add-work-form label {
  margin: 2em 0 1em 0;
}

.add-categories-div {
  display: flex;
  width: 100%;
} 
